body
{
	color: white;
	background: url('img/basq-bg.png');
	background-repeat: repeat-y;
	left: 0;
	width: 100vw;
	background-size: 100vw;
}

img
{
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

a
{
	color: white;
}

.header-font
{
	font-family: 'Staatliches', cursive;
	color: white;
}

.caption-font
{
	font-family: 'Hammersmith One', sans-serif;
	color: white;
}

.banner
{
	padding: 1rem 0rem;
	background-color: transparent;
	padding-bottom: 0;
}

.footer
{
	padding-bottom: 5em;
	padding-top: 10vh;
	text-align: center;
}

.icon-link
{
	padding: 3em;
	color: white;
}

.img1
{
	width: 340px;
	height: auto;

	-webkit-filter: grayscale(100%) !important;
	filter: grayscale(100%) !important;
}

.img2
{
	width: 350px;
	height: auto;

	-webkit-filter: grayscale(100%) !important;
	filter: grayscale(100%) !important;
}

.center-div
{
	text-align: center;
}

.main-img
{
	max-width: 300px;

	-webkit-filter: grayscale(100%) !important;
	filter: grayscale(100%) !important;
}

.img1:hover, .img2:hover, .main-img:hover
{
	-webkit-filter: grayscale(0) !important;
	filter: grayscale(0) !important;
}


.fakeimg
{
	height: 200px;
	background: #aaa;
}

.title-image
{
	width: 35vw;
	height: auto;
}

#collapsibleNavbar
{
	justify-content: space-around;
}

.navbar
{
	background-color: transparent;
	text-align: center;
	padding-bottom: 1.5em;
	padding-top: 1em;
	/*border-bottom: 1px solid white;*/
}

.navbar-toggler
{
	text-align: center;
	border: none;
	/*background-color: rgba(254, 80, 161, 0.7);*/
	/*border-radius: 0;*/
}

button:focus
{
	outline: none;
	color: #fe50a1;
	box-shadow: 0 0 0 1px #fe50a1;
	border-radius: 0;
}


.nav-item
{
	padding-left: 2em;
	padding-right: 2em;
	font-size: 1.15em;
}

.contact
{
	display: flex;
	justify-content: center;
}

.contact-panel
{
	text-align: center;
}

.panel-heading
{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: auto;
}

#email
{
	text-align: center;
	color: #fe50a1;
	font-size: 120%;
	padding-top: 5vh;
}

#book-pic
{
	max-width:250px;
}

#email a
{
	color: #fe50a1;
	
}

h1 
{
	margin-bottom: 0;
}

p
{
	padding-top: 0.2em;
}

a:hover 
{
	color: #fe50a1 !important;
	text-decoration: none;
}

a:active
{
	color: #fe50a1 !important;
}

.col-sm-4:hover, .panel-heading:hover, .panel-footer:hover 
{
	color: #fe50a1 !important;
}

.col-sm-4:hover .panel-heading
{
	color: #fe50a1 !important;
}

.col-sm-4:hover .panel-cap
{
	color: #fe50a1 !important;
}

.col-sm-4
{
	padding-bottom: 1em;
	padding-top: 0;
}

.music-section
{
	padding-top: 1em;
}

.col-sm-8
{
	padding-top: 0;
}

.nav-link{

	color: white !important;
}


/*Prevents image overlap somehow*/

@media screen and (max-width: 2000px)
{
	.img1, .img2
	{
		width: 100%;
		padding: 0;
	}
}

@media screen and (min-width:576px)
{
	.banner
	{
		padding:1rem 0rem;
		padding-bottom: 0;
	}
}

/*575 is when navbar becomes hamburger menu*/
@media screen and (max-width:575px)
{
	.navbar
	{
		justify-content: center;
		text-align: center;
		/*background-color: rgba(254, 80, 161, 0.8);*/
		border-bottom: none;
		border-radius: 10px;
		padding-bottom: 0.1em;
		padding-top: 0.1em;
		margin-top: 1.5em;
		margin-bottom: 0;
	}
	a:active
	{
		color: #fe50a1 !important;
	}
	.container
	{
		max-width: 85vw;
	}
	body
	{
		font-size: 1.3rem;
	}
	.footer
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-top: 1em !important;
	}
	.panel-footer
	{
		margin-bottom: 1em;
	}
	#book-pic
	{
		max-width:175px;
	}
	#email
	{
		font-size: 90%;
	}
}

@media screen and (min-width: 651px) and (max-width: 900px)
{
	.title-image
	{
		width: 60vw;
	}
}

@media screen and (max-width: 650px)
{
	.title-image
	{
		width: 80vw;
	}
	.footer
	{
		padding-bottom: 1em;
		padding-top: 4em;
	}
	.icon-link
	{
		padding: 1em;
		color: white;
	}
	body
	{
		background: url('img/basq-bg-narrow-screen.png');
		background-size: 100vw;
		background-attachment: fixed;
	}
	.title-image
	{
		width: 65vw;
	}
}

@media screen and (max-width: 780px)
{
	.nav-item
	{
		padding-left: 1em;
		padding-right: 1em;
	}
}